
      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>About Us</h2>
            <p>At our healthcare facility, we are dedicated to providing compassionate and comprehensive medical services to enhance the well-being of our community. Our team of skilled professionals is committed to delivering high-quality care, utilizing advanced technology and personalized treatment plans. Your health and comfort are at the core of everything we do.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-6" data-aos="fade-right">
              <img src="assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
              <h3>Committed to Your Well-being and Comfort</h3>
              <p class="fst-italic">
                We believe in providing exceptional healthcare services with a focus on your overall well-being. Our commitment extends beyond medical treatment to ensure you experience comfort, compassion, and personalized care throughout your journey with us.
              </p>
              <ul>
                <ul>
                  <li><i class="bi bi-check-circle"></i> Dedicated to delivering quality and compassionate healthcare.</li>
                  <li><i class="bi bi-check-circle"></i> Striving for excellence in every aspect of our service.</li>
                  <li><i class="bi bi-check-circle"></i> Your health and satisfaction are our top priorities.</li>
                </ul>              </ul>
              <p>
                Our team is devoted to creating a healing environment where you feel supported and cared for. We understand the importance of trust in healthcare, and we are honored to be your partner on your journey to a healthier and happier life.
              </p>
            </div>
          </div>
  
        </div>
      </section><!-- End About Us Section -->
      
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">
  
          <div class="row no-gutters">
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="fas fa-user-md"></i>
                <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
  
                <p><strong>Expert Doctors</strong> providing compassionate care</p>
                <a href="#">Meet Our Medical Team &raquo;</a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="far fa-hospital"></i>
                <span data-purecounter-start="0" data-purecounter-end="26" data-purecounter-duration="1" class="purecounter"></span>
                <p><strong>Medical Specializations</strong> covering a range of healthcare needs</p>
                <a href="#">Explore Our Specializations &raquo;</a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="fas fa-flask"></i>
                <span data-purecounter-start="0" data-purecounter-end="14" data-purecounter-duration="1" class="purecounter"></span>

                <p><strong>Research Lab</strong> dedicated to advancing drugs and cures</p>
                <a href="#">Explore Our Research &raquo;</a>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="fas fa-award"></i>
                <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
                <p><strong>Awards</strong> recognizing excellence in healthcare</p>
                <a href="#">Check Our Achievements &raquo;</a>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Counts Section -->
  
      <!-- ======= Features Section ======= -->
      <section id="features" class="features">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-right">
              <div class="icon-box mt-5 mt-lg-0">
                <i class="bx bx-receipt"></i>
                <h4>Compassionate Care</h4>
                <p>We prioritize compassionate care, ensuring your well-being and comfort throughout your medical journey.</p>
              </div>
              <div class="icon-box mt-5">
                <i class="bx bx-cube-alt"></i>
                <h4>Advanced Medical Technology</h4>
                <p>Utilizing cutting-edge technology to provide accurate diagnostics and effective treatment plans.</p>
              </div>
              <div class="icon-box mt-5">
                <i class="bx bx-images"></i>
                <h4>Prescription Management</h4>
                <p>Efficient and accurate prescription services to meet your medication needs.</p>
              </div>
              <div class="icon-box mt-5">
                <i class="bx bx-shield"></i>
                <h4>Privacy and Safety</h4>
                <p>We prioritize the privacy and safety of your health information, ensuring a secure and confidential environment.</p>
              </div>
            </div>
            <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("assets/img/features.jpg");' data-aos="zoom-in"></div>
          </div>
  
        </div>
      </section><!-- End Features Section -->
  