*{
  --futureColor :  #3fbcc0;
  --todayColor :#25a825;
  --pastColor : grey;
}
.profileHeader{
  margin-top: 30px;
}

.patientVisitsCard{
  border: 2px #3fbcc0 solid;
  width: 60%;
  margin: 20px auto;
  border-radius: 10px;
  padding: 2%;
  box-shadow:  0 2px 6px #3fbcc0;
}
.patientVisitsTitle span{
color: #3fbcc0;
}
.patientVisitsTitle{
border-bottom: 2px #3fbcc0 solid;
width: fit-content;
padding-bottom: 5px;
}
.patientVisitsCard p{
  margin: 0;
}
.patientVisitsCard p span{
  color: #3fbcc0;
}


.future-visit {
  border: 2px var(--futureColor) solid;
  box-shadow:  0 2px 6px var(--futureColor);
  position: relative;
}
.future-visit span{
  color: var(--futureColor);
}
.future-visit .patientVisitsTitle{
  border-bottom: 2px var(--futureColor) solid;
}
.future-visit p span{
  color: var(--futureColor);
}


.today-visit {
  border: 2px var(--todayColor) solid;
  box-shadow:  0 2px 6px var(--todayColor);
  position: relative;
}
.today-visit span{
  color: var(--todayColor);
}
.today-visit .patientVisitsTitle{
  border-bottom: 2px var(--todayColor) solid;
}
.today-visit p span{
  color: var(--todayColor);
}
.today-visit::before {
  content: 'Today';
  margin: 15px;
  height: 90px;
  border: 20px solid var(--todayColor);
  border-left: 25px solid transparent;
  position: absolute;
  right: -20px;
  top: -20px;
  background-color: var(--todayColor);
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-size: x-large;
}

/* //////// */
.past-visit {
  border: 2px var(--pastColor) solid;
  box-shadow:  0 2px 6px var(--pastColor);
  position: relative;
}
.past-visit span{
  color: var(--pastColor);
}
.past-visit .patientVisitsTitle{
  border-bottom: 2px var(--pastColor) solid;
}
.past-visit p span{
  color: var(--pastColor);
}
.past-visit .bookmark {
  margin: 15px;
    height: 95px;
    border: 20px solid var(--pastColor);
    border-bottom: 25px solid transparent;
    position: absolute;
    right: -17px;
    top: -20px;
}

@media screen and (max-width: 700px) {
  .bookmark {
    display: none;
  }
  .buttons{
    flex-wrap: wrap;
  }
}

.buttons{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
