.MedicalHeader {
  margin-top: 30px;
}

.table-container {
  width: 60%;
}

.active {
  background-color: rgb(255, 255, 255);
  color: black;
}

.inactive {
  background-color: #3fbcc0;
  color: #ffff;
}

.dataButton {
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
}

.data{
  font-size: 16px;
}
.buttons{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}