    <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Doctors</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
          </div>
  
          <div class="row">
  
            <!-- <div *ngFor="let doctor of doctors" class="cardDoctor card d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                  <img src="assets/img/doctors/doctors-1.jpg" class="img-fluid" alt="">
                
                </div>
                <div class="member-info">
                  <h3>{{doctor.name}}</h3>
                  <h4>{{doctor.title}}</h4>
                  <span>{{doctor.description}}</span>
                  <div *ngFor="let schedule of doctor.weekSchadual">
                   
                    <span>{{schedule.dayOfWeek}}</span>
                    <span *ngIf="schedule.isAvailable">
                      <span>{{schedule.startTime}}</span>
                      <span>{{schedule.endTime}}</span>
                      <span>me7ataga a check el visit count</span>
                      <button>Book</button>
                    </span>
                    
                    <span *ngIf="!schedule.isAvailable">
                      <span>Day off</span>
                      <button [disabled]="true">Book</button>
                    </span>
                  </div>
                  
                  
           </div>
              </div>
            </div> -->
            
            <div *ngFor="let spec of doctorsBySpecialization" >
            <div *ngFor="let doctor of spec.childDoctorOfSpecializations"  class="cardDoctor card d-flex align-items-stretch">
                <div class="member-info">
                  <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-img">
                      <img src="assets/img/doctors/doctors-1.jpg" class="img-fluid" alt="">
                    
                    </div>
                  <h3>{{doctor.name}}</h3>
                  <h4>{{doctor.title}}</h4>
                  <!-- <span>{{doctor.specializationName}}</span> -->
                  <span>{{doctor.description}}</span>
                  <div *ngFor="let schedule of doctor.weekSchadual">
                   
                    <span>{{schedule.dayOfWeek}}</span>
                    <span *ngIf="schedule.isAvailable">
                      <span>{{schedule.startTime}}</span>
                      <span>{{schedule.endTime}}</span>
                      <span>me7ataga a check el visit count</span>
                      <button>Book</button>
                    </span>
                    
                    <span *ngIf="!schedule.isAvailable">
                      <span>Day off</span>
                      <button [disabled]="true">Book</button>
                    </span>
                  </div>
                  
                  
           </div>
              </div></div>
            </div>  

          </div>
  
        </div>
      </section><!-- End Doctors Section -->
  