    <!-- ======= Services Section ======= -->
    <section id="services" class="services services">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Our Healthcare Services</h2>
            <p>Explore a range of healthcare services designed to meet your needs. Our dedicated team is committed to providing compassionate and comprehensive care for your well-being.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="fas fa-heartbeat"></i></div>
              <h4 class="title"><a href="">Cardiology</a></h4>
              <p class="description">Specialized care for heart health, addressing cardiovascular conditions with expertise and compassion.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="fas fa-pills"></i></div>
              <h4 class="title"><a href="">Pharmacy Services</a></h4>
              <p class="description">Efficient and comprehensive pharmacy services providing medications and pharmaceutical care.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon"><i class="fas fa-hospital-user"></i></div>
              <h4 class="title"><a href="">Outpatient Care</a></h4>
              <p class="description">Specialized medical care provided without an overnight stay, ensuring convenient treatment.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="fas fa-dna"></i></div>
              <h4 class="title"><a href="">Genetic Research</a></h4>
              <p class="description">Explore cutting-edge genetic research, advancing our understanding of inherited diseases and personalized medicine.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="fas fa-wheelchair"></i></div>
              <h4 class="title"><a href="">Rehabilitation Services</a></h4>
              <p class="description">Comprehensive rehabilitation programs to enhance recovery, improve mobility, and regain independence.</p>
            </div>
            <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon"><i class="fas fa-notes-medical"></i></div>
              <h4 class="title"><a href="">Medical Documentation</a></h4>
              <p class="description">Accurate and organized medical documentation services, ensuring proper recording and retrieval of patient information.</p>
            </div>
          </div>
  
        </div>
      </section><!-- End Services Section -->
  