<h1 mat-dialog-title>Hello  <span *ngIf="patientRegistered">{{PatientByPhoneNumber?.name}}</span></h1>
<form [formGroup]="Form" (submit)="handleSubmit($event)">
  <input id="formInput" (change)="getPhoneNumber($event)" formControlName="phoneNumber" type="text" placeholder="Phone number">
  <ng-container mat-dialog-content *ngIf="patientAlreadyBooked">
 
   <span> Patient already has an appointment with Dr {{this.data.data.name}} on {{bookedDate}}</span></ng-container>
  <button mat-button mat-dialog-actions *ngIf="!patientAlreadyBooked">Continue</button>
</form>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>

</mat-dialog-actions>