<table class="table">
    <tbody>
        <tr>
            <th scope="row">Name</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Phone Number</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Doctor Name</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Booking Date</th>
            <td></td>
        </tr>
        <tr>
            <th scope="row">Booking time</th>
            <td></td>
        </tr>
    </tbody>
</table>